%h1 Pages#about

%p DevCongress started out of a need to have a more organised developer community in Ghana. Since the dream was borne by Yaw Boakye in 2013, we have gone on to achieve greater feats in the quest to build a more united and goal-oriented front in the Ghana developer community.

%p The core team of DevCongress started with 3 people. All volunteers, for our various projects are listed here, including organizations which have helped in cash or kind.

%h3 Founding Team
%ul
    %li Yaw Boakye - Programmer
    %li Elorm Adjaho - CEO
    %li Claude Ayitey - Doer

%h3 Core Team
%ul
    %li Saviour Kirk Agbenyegah


%h3 Sponsors
%ul
    %li MEST
    %li SMSGh


%h3 Supporters
%ul
    %li iSpace
    %li Mobile Web Ghana
    %li AITI-KACE
    %li Impact Hub Accra
    %li ServLed
    %li GAIN


%h3 Volunteers
%h4 gharage
%ul
    %li Kingsley Abrokwah
    %li Nicodemus Nutsukpui


%h4 socket
%ul
    %li MEST 2014, 2015 Class, Staff and Fellows