%h1 Pages#contact

%p Yes, we're all over in these places just so you can reach us easily.

%ul
    %li Email:
    %li Twitter:
    %li Instagram:
    %li Slack:
    %li Facebook:
    %li GitHub:
    %li LinkedIn: