%h1 Pages#help

%p  We’ve always been about community(links to team in about us). There’s too much talk about “If you want to go fast, go alone. If you want to go far, go together.” We believe in that. With over 50 volunteers, it is obvious we need more hands. Join the goal of making the Ghanaian software developer community grow beyond borders.