%h1 Pages#index

%p DevCongress is a budding developers movement aimed at becoming the most vibrant across the software developers space in Ghana and Africa. The objectives are very simple.

%p Our mission is best expressed in the following 4 points.
%ul
    %li To create avenues, to build confidence among software developers.
    %li Expose developers and tech startups to a rich array of resources.
    %li Build open source projects that have great social and economic impact.
    %li Harness the local tech ecosystem to create solutions to national problems.

%h2 Projects

%h3 Previous / Current
%h4 Socket
%p In 2013, our inaugural year, we opened with a sold-out focused developers’ conference, supported heavily by MEST. We got sparked in our minds. In the next edition, it has been rebranded as Socket. Watch this space for all the details.
                   
%h4 Hackathon
%p Also in 2013, we organised the first e-commerce hackathon sponsored by SMSGh, to hack on the MPower Payments API. #{link_to '#DCMPower', "https://twitter.com/hashtag/DCMPower"} was fun! In February 2015, we also supported MEST to hold the MEST-Vodafone Hackathon. 

%h4 gharage
%p gharage is our baby media project aimed at Ghanaian techies. We bring you startup and developer specific jobs, news and events. Also under gharage, we’ve got gKorero podcast, a weekly Ghanaian tech news/discussion roundup. 


%h3 Upcoming
%p These are our upcoming projects. In the mean time, we’ll tease you with just their names. We’re good at that. You could send us your guess via Twitter.
%ul
    %li LiFT
    %li Spaces
    %li Library
    %li Clinic
    %li After School, with STEMBees

%p DevCongress wants to be the best thing that happened to the Ghana tech ecosystem, and we believe these projects are a great start to all that. Want to know when we launch each of them, subscribe through the email form in the footer.

%p help - get involved [sponsorship/volunteers]
%p contact - social media/offline

