%h1 Pages#projects

%p The following projects are the solutions to some problems we find in the Ghanaian tech space. We believe strongly, that they will help us acheive our goals of amking Ghanaian developers better in our trade.

%h3 Previous / Current
%h4 Socket
%p In 2013, our inaugural year, we opened with a sold-out focused developers’ conference, supported heavily by MEST. We got sparked in our minds. In the next edition, it is rebranded as Socket. Watch this space for details.
                   
%h4 Hackathon
%p Also in 2013, we organised the first e-commerce hackathon sponsored by SMSGh, to hack on the MPower Payments API. #DCMPower was fun! In February 2015, we also supported MEST to hold the MEST-Vodafone Hackathon. 

%h4 gharage
%p gharage is our baby media project aimed at Ghanaian techies. We bring startup and developer specific jobs, news and events. Also under gharage, we’ve got gKorero podcast, a weekly Ghanaian tech news/discussion roundup. 


%h3 Upcoming
%p These are our upcoming projects. In the mean time, we’ll tease you with just their names. We’re good at that. You could send us your guess via Twitter.
%ul
    %li LiFT
    %li Spaces
    %li Library
    %li Clinic
    %li After School, with STEMBees
