%meta{'charset' => 'utf-8'}
%meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}
%meta{'name' => 'viewport', 'content' => 'width=min-device-width' , 'initial-scale' => '1.0'}
%meta{'name' => 'description', 'content' => 'BoughtSpot_ - website design, website development, media buying, online marketing, digital advertising, SaaS for SMEs'}
%meta{'name' => 'keywords', 'content' => 'website development in Ghana, online marketing in Ghana, social media marketing and advertising'}

%title= yield(:title)

= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags