%header.main--header
    .container
        = link_to image_tag('boughtspot.svg', :class => "logo"), '/'

        %nav.main--navbar
            %a{:href => "/"} Home
            %a{:href => "/about"} About Us
            %a{:href => "/projects"} Projects
            %a{:href => "/help"} Help
            %a{:href => "/contact"} Contact